<blockquote class="comments" id="<%= comment.id %>">
	<h6><%= comment.user.user_name %></h6>
	<small><%= comment.content %></small>
	<h6>
		<% if current_user?(comment.user) %>
			<%= link_to "", comment_path(comment), :method => :delete, data: { confirm: "You sure?" }, :class=>"icon-trash" %>
		<% end %>
	</h6>
</blockquote>

