<% @user = current_user %>
<div class="right">
	<% if @feed_items.any? %>
		<div id="posts_stream">
			<%= render partial: 'browse/feed_item', collection: @feed_items %>
		</div>
	<% end %>
</div>
<%= render "users/left" %>