<div class="right">
	<div id="posts_strem">
		<blockquote class="posts">
			<h5>Poster, Post time</h5>
			<p>Post text</p>
			<h6>like, dislike, comment</h6>
		</blockquote>
	</div>
</div>
<%= render "users/left" %>