<%= render "browse/header" %>
<% @user ||= current_user %>
<div class="body">
	<div class="right">
		<div id="my_posts">
			<h3><%= @user.user_name %></h3>
			<blockquote class="posts">
				<h5>Poster, Post time</h5>
				<p>Post text</p>
				<h6>like, dislike, comment</h6>
			</blockquote>
		</div>
	</div>
	<%= render "left" %>
</div>