<%= render "browse/header" %>
<div class="body">
	<div class="user_info">
		<%= @user.first_name %> <%= @user.last_name %>
	</div>
	<div class="create_post">
		<h4>Create a Post</h4>
		<p>create post box</p>
		<p>create post button</p>
	</div>
	<div class="my_posts">
		<h4>My Posts</h4>
		<blockquote class="posts">
			<p>Post text</p>
			<p>Post time</p>
			<p>Poster</p>
		</blockquote>
	</div>
</div>