<%= render "browse/header" %>
<% @user ||= current_user %>
<div class="body">
	<div class="right">
		<div id="my_posts">
			<h3><%= @user.user_name %></h3>
			<% if @microposts.any? %>
				<%= render "microposts/micropost" %>
			<% end %>
		</div>
	</div>
	<%= render "left" %>
</div>