<div id="footer">
	<div class="container">
		<div class="row-fluid">
			<div class="span3">
				<p id="copy">&copy; Copyright JustSayin 2013</p>
			</div>
			<div class="span3 offset6">
				<p>Want to Join?</p>
				<%= render "signupmodal" %>
				<p>Already a member?</p>
				<%= render "loginmodal" %>
			</div>
		</div>
	</div>
</div>


