<div id="footer">
	<div class="container">
		<div class="row-fluid">
			<div class="span3">
				<p id="copy">&copy; Copyright GymingIt 2013</p>
			</div>
			<div class="span3 offset6">
				<p>Want to join?</p>
				<p><%= link_to "Signup Here", signup_path %></p>
				<p>Already a member?</p>
				<p><%= link_to "Login Here", signup_path %></p>
			</div>
		</div>
	</div>
</div>