// Place all the styles related to the browse controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.span4 {
}
#footer {
	background-color: #E6E6DC;
	padding-top: 20px;
	padding-bottom: 20px;
}
.row-fluid {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

#copy {
	margin-top: 3.5em;
}
#user_info, #trends, #create_post {
  	padding: 10px;
  	margin-bottom: 10px;
	width: 250px;
	border: 5px solid #eeeeee;
	  -webkit-border-radius: 6px;
	     -moz-border-radius: 6px;
	          border-radius: 6px;
}
#my_posts, #posts_stream {
	float: right;
	width: 650px;
	position: relative;
	  -webkit-border-radius: 6px;
	     -moz-border-radius: 6px;
	          border-radius: 6px;
}
#post {
	background-color: yellow;
}
.left {
	
}
.homeh1 {
	padding-bottom: 2em;
}
#memberfooter {
	margin-top: 25px;
}